@model List<Product>
<div class="col-md-3">
    <h3>CATEGORY LIST</h3>
    <div id=" Category-List">

    </div>
</div>
<div class="col-md-9">
    <h3>PRODUCT LIST</h3>
    <partial name="ProductPartial"/>
</div>

@section Scripts{
<script>
    $("#Category-List").load("/Product/GetCategory");
</script>
}